body {
  background: #333;
}

#lightsout {
  width: 600px;
  height: 600px;
}

.square {
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
  border-radius: 2px;
  transition: background-color 0.25s linear;
}

.square.off {
  background-color: #666;
}

.square.on {
  background-color: #FFF;
}
